<div id="content" role="main">

    <article class="post">
    
        <h1 class="entry-title">Qu&eacute; es petirrojo?</h1>
        
        
        <div class="entry-content">
            <p>
            	Petirrojo es un ejercicio de prueba de uso del framework <%= link_to "rails", "http://rubyonrails.org"%> que tiene incluida una peque&ntilde;o cliente que consume informaci&oacute;n de <%= link_to "twitter", "https://dev.twitter.com/"%>. Fue creado como entregable del taller de Desarrollo &aacute;gil en Rails de <%= link_to "Hace click", "http://www.haceclick.com.uy/"%> y <%= link_to "Moove.it", "https://www.moove-it.com/"%>
            </p>
            
            <h1>Y qui&eacute;n lo escibi&oacute;?</h1>
            
                                   
            <p>
            	<%= link_to "Lucia", "http://uy.linkedin.com/in/luciafigueroa"%>. Gracias a <%= link_to "Simon", "http://uy.linkedin.com/in/simondenardo"%> por ayudarme con el logo y a <%= link_to "Jayj", "http://jayj.dk" %> por el template.
            </p>  

            <hr />       
                       
  
        </div> <!-- .entry-content -->
        
        <div class="clear"></div>  
    
    </article> <!-- .post -->

</div> <!-- #content -->